In [20]:
import pandas as pd

1. Selecting Columns by Name:

In [21]:
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

# Select a single column by name
name_column = df['Name']

# Select multiple columns by name
subset = df[['Name', 'Age']]

print(name_column)
print(subset)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

2. Selecting Rows by Index:

In [22]:
# Select rows by index using .loc[]
row_0 = df.loc[0]  # Select the first row by label
rows_1_to_2 = df.loc[1:2]  # Select rows 1 and 2 by label

print(row_0)
print(rows_1_to_2)

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

3. Selecting Rows and Columns by Label:

In [23]:
# Select specific rows and columns by label using .loc[]
subset = df.loc[1:2, ['Name', 'Age']]

print(subset)

      Name  Age
1      Bob   30
2  Charlie   35

In [24]:
subset = df.loc[:, 'Name']

print(subset)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

4. Selecting Rows by Integer Position:

In [25]:
# Select rows by integer position using .iloc[]
row_0 = df.iloc[0]  # Select the first row by integer position
rows_1_to_2 = df.iloc[1:3]  # Select rows 1 and 2 by integer position

print(row_0)
print(rows_1_to_2)

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
      Name  Age           City
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

5. Selecting Rows and Columns by Integer Position:

In [26]:
# Select specific rows and columns by integer position using .iloc[]
subset = df.iloc[1:3, [0, 1]]  # Rows 1 and 2, Columns 0 and 1

print(subset)

      Name  Age
1      Bob   30
2  Charlie   35

In [28]:
# Select specific rows and columns by integer position using .iloc[]
subset = df.iloc[1:3, 0]  # Rows 1 and 2, Columns 0 and 1

print(subset)

1        Bob
2    Charlie
Name: Name, dtype: object

6. Boolean Indexing (Filtering Rows):

In [27]:
# Select rows based on a condition
filtered_df = df[df['Age'] > 30]  # Select rows where Age is greater than 30

print(filtered_df)

      Name  Age         City
2  Charlie   35  Los Angeles